.container{
    padding: 100px
}

.card{
    margin: auto;
    width: 400px;
    height: 450px;
    background: #99CCFF;

    padding: 10px 15px 20px 15px;
    border-radius: 5px;
}
.title{
   
    padding-top: 10px;
    padding-right: 10px;
    font-weight: bold;
}
.comments{
    text-align: center;
    padding-left: 50px;
   
    
}
.db{
    text-align: center;
}

